.gif-grid {
  column-count: 4;          /* adjust per screen size */
  column-gap: 16px;
  row-gap: 50px;
}

@media (max-width: 1024px) {
  .gif-grid { column-count: 3; }
}

@media (max-width: 640px) {
  .gif-grid { column-count: 2; }
}
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

}